.gridTem {
    grid-template-columns: repeat(1fr, 2);
    gap: .1fr;
}

.responsive-svg-container {
     /* Adjust the width based on the viewport width */
     /* Ensure the SVG doesn't exceed its container */
    height: auto; /* Allow the browser to adjust the height to maintain aspect ratio */
}

.slick-list {margin: 0 -5px;}
.slick-slide>div {padding: 0 5px;}